<footer class="page-footer">
    <div class="container d-flex justify-content-center">
  {#      <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
        </div>#}
    </div>
    <div class=" text-center footer-copyright">
        <div class="container">
            Made with <i class="fas fa-heart"></i> by
            <a href="https://www.linkedin.com/in/maximepapin/" target="_blank">M.Papin</a> -
            <a href="https://www.linkedin.com/in/anne-quiedeville/" target="_blank">A.Quiedeville</a> -
            <a href="https://www.linkedin.com/in/c%C3%A9line-godichon/" target="_blank">C.Godichon</a> -
            <a href="https://www.linkedin.com/in/fabienlabedade/" target="_blank">F.Labedade</a>
        </div>
    </div>
</footer>